##############################################################################
##########                                                          ##########
##########             INIS Bibfield Configuration File             ##########
##########                                                          ##########
##############################################################################

@extend
recid:
    producer:
        json_for_form(), {'recid': ''}

member:
    creator:
        marc, "913__", value['a']
    producer:
        json_for_marc(), {"913__a": ""}
        json_for_form(), {"member": ""}

collections:
    schema:
        {'collections': {'type': 'list', 'force': True}}
    creator:
        @legacy((("980", "980__", "980__%"), ""),
                ("980__%", "collection identifier", ""),
                ("980__a", "primary"),
                ("980__b", "secondary"),
                ("980__c", "deleted"))
        marc, "980__", { 'primary':value['a'], 'secondary':value['b'], 'deleted':value['c'] }
    producer:
        json_for_marc(), {"980__a":"primary", "980__b":"secondary", "980__c":"deleted"}

keywords:
    schema:
        {'keywords': {'type': 'list', 'force': True}}
    creator:
        marc, "6531_", value['a']
    producer:
        json_for_marc(), {"6531_a": "",}
        json_for_form(), {"keywords": "[value]"}
        json_for_ld(), {"keywords": "[value]"}

abstract:
    creator:
        marc, "520__", value['a']
    producer:
        json_for_marc(), {"520__a": "",}
        json_for_form(), {"description": ""}


#
# Basic information
#

trns:
    schema:
        {'trns': {'type': 'list', 'force': True}}
    creator:
        marc, "911__", value['a']
    producer:
        json_for_marc(), {"911__a": ""}
        json_for_form(), {"trns": ""}
        json_for_ttf(), {"001^": ""}

title:
    creator:
        @legacy((("245", "245__", "245__%"), ""),
                ("245__%", "main title", ""),
                ("245__a", "title"),
                ("245__b", "subtitle"),
                ("245__n", "volume"),
                ("245__k", "form"))
        marc, "245__", { 'title':value['a'], 'subtitle':value['b'], 'volume': value['n'], 'form':value['k'] }
    producer:
        json_for_marc(), {"245__a": "title", "245__b": "subtitle", "245__k": "form"}

language:
    creator:
        @legacy((("600", "600__", "600__%"), ""),
                ("600__a", ""))
        marc, "600__", value['a']
    producer:
        json_for_marc(), {"600__a": ""}

description:
    creator:
        marc, "500__", value['a']
    producer:
        json_for_marc(), {"500__a": ""}
        json_for_form(), {"description": ""}


#
# Publication information
#

place:
    creator:
        marc, "401__", value['a']
    producer:
        json_for_marc(), {"401__a": ""}
        json_for_form(), {"place": ""}

publisher:
    creator:
        marc, "402__", value['a']
    producer:
        json_for_marc(), {"402__a": ""}
        json_for_form(), {"publisher": ""}

publication_date:
    creator:
        marc, "403__", value['a']
    producer:
        json_for_marc(), {"403__a": ""}
        json_for_form(), {"publication_date": ""}

edition:
    creator:
        marc, "250__", value['a']
    producer:
        json_for_marc(), {"250__a": ""}
        json_for_form(), {"edition": ""}


#
# Authors
#

_first_author, first_author, creator:
    creator:
        @only_if_master_value(value['4'] is None or value['4'] == '')
        marc, "100__", { 'name':value['a'], 'affiliation':value['u'], 'orcid': value['0'][7:] if (value['0'] or '').startswith('(orcid)') else '', 'familyname': value['a'].split(',')[0].strip(), 'givennames': ' '.join(value['a'].split(',')[1:]).strip()}
    producer:
        json_for_marc(), {"100__a": "name", "100__u": "affiliation", "100__0": "'(orcid)'+value['orcid'] if value.get('orcid') else None"}

_additional_authors, additional_authors, contributor:
    schema:
        {'_additional_authors': {'type': 'list', 'force': True}}
    creator:
        @parse_first('_first_author')
        @only_if_master_value(value['4'] is None or value['4'] == '')
        marc, "700__", {'name': value['a'], 'affiliation':value['u'], 'orcid': value['0'][7:] if (value['0'] or '').startswith('(orcid)') else '', 'familyname': value['a'].split(',')[0].strip(), 'givennames': ' '.join(value['a'].split(',')[1:]).strip()}
    producer:
        json_for_marc(), {"700__a": "name", "700__u": "affiliation", "700__0": "'(orcid)'+value['orcid'] if value.get('orcid') else None"}

authors:
    """List with all the authors, connected with main_author and rest_authors"""
    derived:
        @parse_first('_first_author', '_additional_authors')
        @connect('_first_author', sync_authors)
        @connect('_additional_authors', sync_authors)
        @only_if('_first_author' in self or '_additional_authors' in self)
        util_merge_fields_info_list(self, ['_first_author', '_additional_authors'])
    producer:
        json_for_form(), {"creators": "[{'name': value.get('name',''), 'affiliation': value.get('affiliation',''), 'orcid': value.get('orcid', '')}]"}


#
# Conference
#

conference_title:
    creator:
        marc, "210__", value['a']
    producer:
        json_for_marc(), {"210__a": ""}
        json_for_form(), {"conference_title": ""}

original_conference_title:
    creator:
        marc, "215__", value['a']
    producer:
        json_for_marc(), {"215__a": ""}
        json_for_form(), {"original_conference_title": ""}

conference_place:
    creator:
        marc, "211__", value['a']
    producer:
        json_for_marc(), {"211__a": ""}
        json_for_form(), {"conference_place": ""}


action:
    creator:
        marc, "914__", value['a']
    producer:
        json_for_marc(), {"914__a": ""}

conference_date:
    creator:
        marc, "213__", value['a']
    producer:
        json_for_marc(), {"213__a": ""}
        json_for_form(), {"conference_date": ""}


#
# Identifying number
#

secondary_number:
    creator:
        marc, "310__", value['a']
    producer:
        json_for_marc(), {"310__a": ""}
        json_for_form(), {"secondary_number": ""}

isbn:
    creator:
        marc, "320__", value['a']
    producer:
        json_for_marc(), {"320__a": ""}
        json_for_form(), {"isbn": ""}

contract_number:
    creator:
        marc, "330__", value['a']
    producer:
        json_for_marc(), {"330__a": ""}
        json_for_form(), {"contract_number": ""}


#
# Extra information
#

general_notes:
    creator:
        marc, "610__", value['a']
    producer:
        json_for_marc(), {"610__a": ""}
        json_for_form(), {"general_notes": ""}

availability:
    creator:
        marc, "611__", value['a']
    producer:
        json_for_marc(), {"611__a": ""}
        json_for_form(), {"availability": ""}

title_augmentation:
    creator:
        marc, "620__", value['a']
    producer:
        json_for_marc(), {"620__a": ""}
        json_for_form(), {"title_augmentation": ""}

funding_organization_code:
    creator:
        marc, "709__", value['a']
    producer:
        json_for_marc(), {"709__a": ""}
        json_for_form(), {"funding_organization_code": ""}

corporate_entry_code:
    creator:
        marc, "710__", value['a']
    producer:
        json_for_marc(), {"710__a": ""}
        json_for_form(), {"corporate_entry_code": ""}
