{%- extends "page.html" -%}
{%- block body -%}

<div class='row'>
    <div class="col-md-8">
        <h2>Uploads from week {{ week_displayed[0] }}/{{ "%02d"|format(week_displayed[1]) }}</h2>
    </div>
    <div class="col-md-1">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Week
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    {% for (issue, week) in weeks %}
                        <li><a href="/list?week={{week}}&issue={{issue}}&upload_type={{upload_type}}">{{ issue }}/{{ "%02d"|format(week) }}</a></li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-group" role="group" aria-label="...">
        {% for action in ('ALL', 'CAI', 'INPUT') %}
            {% if action == upload_type %}
                <a class="btn btn-primary"
                    href="{{ url_for('list', upload_type=action, week=week_displayed[1], issue=week_displayed[0]) | safe }}"
                    role="button">{{action}}</a>
            {% else %}
                <a class="btn btn-default"
                    href="{{ url_for('list', upload_type=action, week=week_displayed[1], issue=week_displayed[0]) | safe }}"
                    role="button">{{action}}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
</br></br>
{% if uploads %}
    <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th class='text-center'><li class="list-group-item active">ID</li></th>
            <th class='text-center' style="width: 130px;"><li class="list-group-item active">Date</th>
            <th class='text-center'><li class="list-group-item active">Member</li></th>
            <th class='text-center'><li class="list-group-item active">Submitter</li></th>
            <th class='text-center'><li class="list-group-item active">Upload name</li></th>
            <th class='text-center'><li class="list-group-item active">Action</li></th>
            <th class='text-center' style="width: 20px;"><li class="list-group-item active">Rec#</li></th>
            <th class='text-center'><li class="list-group-item active">Files</li></th>
        </tr>
        {%- for u in uploads %}
            <tr data-toggle="collapse" data-target=".files{{ u['id'] }}">
                <td class='text-center'>
                   <a class="badge" href="{{ url_for('webdeposit.run', uuid=u['id']) }}">{{ u['id'] }}</a>
                </td>
                <td class='text-center'>{{ u['date'] | string | truncate(16, killwords=True, end='') }}</td>
                <td class='text-center'>{{ u['member'] }}</td>
                <td class='text-center'>{{ u['submitter'] }}</td>
                <td><b>{{ u['upload_name'] }}</b>
                {% if u['notes'] %}
                    <hr style="margin-top: 5px; margin-bottom: 5px;">
                    <span class="label label-primary"><b>Notes</b></span>
                    {{ u['notes'] }}
                {% endif %}
                </td>
                <td class='text-center'>{{ u['action'] }}</td>
                <td class='text-center'>{{ u['records'] }}</td>
                <td data-target="#files{{ u['id'] }}">
                {% set md_files = []  %}
                {% set ft_files = []  %}
	        {%- for file in u['files'] -%}
                  {% if file[0][-4:] == '.pdf' %}
                    {% do ft_files.append(file) %}
                  {% else %}
                    {% do md_files.append(file) %}
                  {% endif %}
                {%- endfor %}
                {%- for f in md_files | sort %}
                    <li class='list-unstyled'><a href="{{ f[0] }}">{{ f[1] }}</a></li>
                {%- endfor %}
                {% if md_files|count > 0 and ft_files|count > 0 %}
                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                {% endif %}
                {% with group_size = 4 %}
                {%- for f in ft_files | sort | batch(group_size) | first %}
                    <li class='list-unstyled'><a href="{{ f[0] }}">{{ f[1] }}</a></li>
                {%- endfor %}
                {% if ft_files|sort|count > group_size %}
                        <li class="list-unstyled accordion-body collapse in files{{ u['id'] }}" data-toggle="collapse"
                        data-target="#files{{ u['id'] }}" id="files{{ u['id'] }}">
                        <button type="button" class="btn btn-default btn-xs">Show all</button>
                        </li>
                    {%- for f in ft_files | sort %}
                        {% if loop.index > group_size %}
                        <li class="list-unstyled accordion-body collapse files{{ u['id'] }}" data-toggle="collapse"
                        data-target="#files{{ u['id'] }}" id="files{{ u['id'] }}"><a href="{{ f[0] }}">{{ f[1] }}</a></li>
                        {% endif %}
                    {%- endfor %}
                {% endif %}
                {% endwith %}
                </td>
            </tr>
        {%- endfor %}
    </table>
    </div>
{% else %}
    <div class="alert alert-info" role="alert">This week has no uploads</div>
{% endif %}

{%- endblock body -%}
