{%- extends "page.html" -%}
{%- block body -%}

<h2>Uploads from week {{ week_displayed[0] }}/{{ "%02d"|format(week_displayed[1]) }}</h2>
</br>
<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Week
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for (issue, week) in weeks %}
                <li><a href="/list?issue={{issue}}&week={{week}}">{{ issue }}/{{ "%02d"|format(week) }}</a></li>
            {% endfor %}
            </ul>
    </div>
</div>
</br></br>
{% if uploads %}
    <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th class='text-center'><li class="list-group-item active">ID</li></th>
            <th class='text-center' style="width: 130px;"><li class="list-group-item active">Date</th>
            <th class='text-center'><li class="list-group-item active">Member</th>
            <th class='text-center'><li class="list-group-item active">Submitter</th>
            <th class='text-center'><li class="list-group-item active">Upload name</th>
            <th class='text-center'><li class="list-group-item active">Action</th>
            <th class='text-center' style="width: 20px;"><li class="list-group-item active">Rec#</th>
            <th class='text-center'><li class="list-group-item active">Files</th>
        </tr>
        {%- for u in uploads %}
            <tr data-toggle="collapse" data-target="#notes{{ u['id'] }},#files{{ u['id'] }}">
                <td class='text-center'><span class="badge">{{ u['id'] }}</span></td>
                <td class='text-center'>{{ u['date'] | string | truncate(16, killwords=True, end='') }}</td>
                <td class='text-center'>{{ u['member'] }}</td>
                <td class='text-center'>{{ u['submitter'] }}</td>
                <td>{{ u['upload_name'] }}</td>
                <td class='text-center'>{{ u['action'] }}</td>
                <td class='text-center'>{{ u['records'] }}</td>
                <td data-target="#files{{ u['id'] }}">
                {% with group_size = 4 %}
                {%- for f in u['files'] | batch(group_size) | first %}
                    <li class='list-unstyled'><a href="{{ f[0] }}">{{ f[1] }}</a></li>
                {%- endfor %}
                {% if (u['files']|count) > group_size %}
                        <li class="accordion-body collapse in" data-toggle="collapse"
                        data-target="#files{{ u['id'] }}" id="files{{ u['id'] }}">
                        <button type="button" class="btn btn-default btn-xs">Show all</button>
                        </li>
                    {%- for f in u['files'] %}
                        {% if loop.index > group_size %}
                        <li class="accordion-body collapse" data-toggle="collapse"
                        data-target="#files{{ u['id'] }}" id="files{{ u['id'] }}"><a href="{{ f[0] }}">{{ f[1] }}</a></li>
                        {% endif %}
                    {%- endfor %}
                {% endif %}
                {% endwith %}
                </td>
            </tr>
            {% if u['notes'] %}
            <tr class="accordion-body collapse in" data-toggle="collapse" data-target="#notes{{ u['id'] }}" id="notes{{ u['id'] }}">
                    <td colspan="3"></td>
                    <td class='text-right'><span class="label label-primary"><b>Notes</b></span></td>
                    <td>
                        <div>{{ u['notes'] }}</div>
                    </td>
                    <td colspan="3"></td>
            </tr>
            {% endif %}
        {%- endfor %}
    </table>
    </div>
{% else %}
    <div class="alert alert-info" role="alert">This week has no uploads</div>
{% endif %}

{%- endblock body -%}
