{%- extends "page.html" -%}
{%- block body -%}

{% if current_user_group %}
    <div class="well">
    <h1><i class="fa fa-group fa-fw"></i>&nbsp;{{ current_user_group['name'] }}</h1>
                    <div class="progress">
                    {% set color="progress-bar progress-bar-success" %}
                    {% if current_user_group['activity'] < 30 %}
                        {% set color="progress-bar progress-bar-danger" %}
                    {% elif current_user_group['activity'] < 60 %}
                        {% set color="progress-bar progress-bar-warning" %}
                    {% endif %}
                    <div class="{{ color }}" role="progressbar" style="width: {{ current_user_group['activity'] }}%;"></div>
                    </div>
        <div class="row" style="padding: 12px;">
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item active">Total Submissions <span class="badge">{{ current_user_group['total'] }}</span></li>
            </div>
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item">Accepted <span class="badge">{{ current_user_group['accepted'] }}</span></li>
            </div>
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item">Rejected <span class="badge">{{ current_user_group['rejected'] }}</span></li>
            </div>
        </div>
        <div class="row" style="padding: 12px;">
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item active">Records submitted <span class="badge">{{ current_user_group['trns'] }}</span></li>
            </div>
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item">Fulltext files <span class="badge">{{ current_user_group['files'] }}</span></li>
            </div>
            {% if current_user_group['accepted'] > 0 %}
                {% if (current_user_group['rejected'] * 100) /  current_user_group['total'] > 10 %}
                <div class="col-sm-8 col-md-4">
                    <li class="list-group-item list-group-item-danger">Rejection rate
                        <span class="badge progress-bar-danger">{{ ((current_user_group['rejected']*100)/current_user_group['total'])|round }}%</span>
                    </li>
                </div>
                {% endif %}
            {% else %}
                <div class="col-sm-8 col-md-4">
                    <li class="list-group-item list-group-item-danger" role="alert">No accepted submissions</li>
                </div>
            {% endif %}
        </div>
        <div class="row" style="padding: 12px;">
            {% if current_user_group['errors'] %}
            <div class="col-sm-8 col-md-8">
                <li class="list-group-item"><p>Most common errors</p>
                    <ul>
                    {%- for e in current_user_group['errors'] %}
                        <li class="list-group-item">{{ error_messages[e[0]] }}<span class="badge">{{ e[1] }}</span></li>
                    {%- endfor %}
                    </ul>
                </li>
            </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="well">
    <h1><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;Totals</h1>
        <div class="row" style="padding: 12px;">
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item active">Total Submissions <span class="badge">{{ totals['total'] }}</span></li>
            </div>
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item">Accepted <span class="badge">{{ totals['accepted'] }}</span></li>
            </div>
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item">Rejected <span class="badge">{{ totals['rejected'] }}</span></li>
            </div>
        </div>
        <div class="row" style="padding: 12px;">
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item active">Records submitted <span class="badge">{{ totals['trns'] }}</span></li>
            </div>
            <div class="col-sm-8 col-md-4">
                <li class="list-group-item">Fulltext files <span class="badge">{{ totals['files'] }}</span></li>
            </div>
        </div>
        <div class="row" style="padding: 12px;">
            {% if totals['errors'] %}
            <div class="col-sm-8 col-md-8">
                <li class="list-group-item"><p>Most common errors</p>
                    <ul>
                    {%- for e in totals['errors'] %}
                        <li class="list-group-item">{{ error_messages[e[0]] }}<span class="badge">{{ e[1] }}</span></li>
                    {%- endfor %}
                    </ul>
                </li>
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{%- for row in stats|batch(4) -%}
    <div class="row">
    {%- for g in row %}
        {% if g %}
            <div class="col-sm-8 col-md-3">
            <div class="well">

                <div><h3><i class="fa fa-group fa-fw"></i>&nbsp;{{ g['name'] }}</h3></div>
                <div class="progress">
                {% set color="progress-bar progress-bar-success" %}
                {% if g['activity'] < 30 %}
                    {% set color="progress-bar progress-bar-danger" %}
                {% elif g['activity'] < 60 %}
                    {% set color="progress-bar progress-bar-warning" %}
                {% endif %}
                <div class="{{ color }}" role="progressbar" style="width: {{ g['activity'] }}%;"></div>
                </div>
                <li class="list-group-item active">Records <span class="badge">{{ g['trns'] }}</span></li>
                <li class="list-group-item">Fulltext files <span class="badge">{{ g['files'] }}</span></li>
                <li class="list-group-item">Total Submissions <span class="badge">{{ g['accepted'] + g['rejected'] }}</span></li>
                <li class="list-group-item">Accepted <span class="badge">{{ g['accepted'] }}</span></li>
                <li class="list-group-item">Rejected <span class="badge">{{ g['rejected'] }}</span></li>
                {% if g['accepted'] > 0 %}
                    {% if (g['rejected'] * 100) /  g['total'] > 10 %}
                        <li class="list-group-item list-group-item-danger" role="alert">Rejection rate
                            <span class="badge progress-bar-danger">{{ ((g['rejected']*100)/g['total'])|round }}%</span>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item list-group-item-danger" role="alert">No accepted submissions</li>
                {% endif %}
                <li class="list-group-item">Submitters:
                <ul>
                {% for user in g['users'] %}
                    <li>{{ user }}</li>
                {% endfor %}
                </ul>
                </li>
             </div>
            </div>
        {% endif %}
    {%- endfor %}
    </div>
{%- endfor %}
{%- endblock body -%}