
  <div class="well" style="background-color:white;">
    <p>
        You can use <b>INIS Input Management</b> to submit your records to
        <a href="http://www.iaea.org/inis/">INIS <i class="fa fa-external-link"></i></a>.
    </p>
    <p>
        If you want to search the published records, please go to
        <a href="https://inis.iaea.org/search/">INIS Collection Search <i class="fa fa-external-link"></i></a>.
    </p>
    </br>
    <p>
        Please, visit the <a href="{{ url_for('help') }}">Help page</a> for detailed instructions.
    </p>
  </div>
