<div class="well">
  <h1>Instructions</h1><br>
  <table class="table table-hover table-responsive" style="background-color:white;">
    <tbody>
      <tr class="">
        <td><i class="fa fa-files-o fa-2x"></i></td>
        <td><strong>Choose files</strong></td>
        <td>Select one or more files. Only '.ttf' and '.pdf' are accepted.</td>
      </tr>
      <tr class="">
        <td><span class="fa fa-upload fa-2x"></span></td>
        <td><strong>Upload</strong></td>
        <td>Click the green button.</td>
      </tr>
      <tr class="">
        <td><span class="fa fa-edit fa-2x"></span></td>
        <td><strong>Fill the form</strong></td>
        <td>Enter the information.</td>
      </tr>
      <tr class="">
        <td><span class="fa fa-arrow-up fa-2x"></span></td>
        <td><strong>Submit</strong></td>
        <td>Click the blue button.</td>
      </tr>
    </tbody>
  </table>
</div>