<div class="well">
    <h4>
    {%- if sip.metadata['collections'][0]['primary'] == 'Rejected' %}
        <div class="fa fa-warning" style="color:red"></div>
    {%- else %}
        <div class="fa fa-check" style="color:green"></div>
    {%- endif %}

    {{ sip.metadata['title.title'] }}</h4>
    <p>{{ sip.metadata['notes'] }}</p>
    <table class="table table-striped">
    <tr>
        <td width="40%">
            <b>Total number of records:</b>
        </td>
        <td>
            {{ sip.metadata['trns']|length }}
        </td>
    </tr>
    <tr>
        <td width="40%">
            <b>Change records:</b>
        </td>
        <td>
            {{ sip.metadata['change_records']|length }}
        </td>
    </tr>
    <tr>
        <td width="40%">
            <b>Files:</b>
        </td>
        <td>
            {% with recid = sip.metadata['recid'] %}
            {% with links = format_record(recid, 'FILELINKS', ln=g.ln)|safe %}
            {% with group_size = 15 %}
                <ul style="list-style-type:none; padding-left:0px">
                    {% for file in sip.metadata['fft'] | batch(group_size) | first %}
                    <li>
                        {% if links == '' %}
                            {{ file['name'] }}
                        {% else %}
                            <a href="{{ url_for('record.files', recid=recid) }}/{{file['name']}}">{{ file['name'] }}</a>
                        {%- endif %}
                    </li>
                    {% endfor %}
                    {% if (sip.metadata['fft']|count) > group_size %}
                        <li class="accordion-body collapse in" data-toggle="collapse"
                            data-target=".files,#showall" id="showall">
                            <button type="button" class="btn btn-default btn-xs">Show all</button>
                        </li>
                        {% for file in sip.metadata['fft']|dictsort %}
                            {% if loop.index > group_size %}
                                <li class="accordion-body collapse files">
                                    {% if links == '' %}
                                        {{ file['name'] }}
                                    {% else %}
                                        <a href="{{ url_for('record.files', recid=recid) }}/{{file['name']}}">{{ file['name'] }}</a>
                                    {%- endif %}
                                </li>
                            {%- endif %}
                        {%- endfor %}
                    {%- endif %}
                </ul>
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </td>
    </tr>
    </table>
   </div>

    {% if sip.metadata['collections'][0]['primary'] == 'Rejected' and sip.metadata['error_message'] %}
    <div class="panel panel-danger">
      <div class="panel-heading">
      This submission has been <b>rejected</b> and it will not be considered as input for INIS.
      </br></br>
      <b>Errors found:</b>
      </div>
      <div class="panel-body">
        {% autoescape false %}
        {{ sip.metadata['error_message'] }}
        {% endautoescape %}
      </div>
    </div>

    {%- endif %}
</div>
